*{
    box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
}
main{
    width: 40%;
    border: 1px solid red;
    background-color: hsl(180, 35%, 61%);
    background-position: center;
}

#cabecera{
    margin: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
#contenido{
    display: flex;
    background-image: url(img/Fondo.jpeg)
}
#menu{
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: underline;
}
#articulos{
    max-width: 100%;
    width: 80%;
    margin: 5px;
}
#articulo1,#articulo2{
    margin: 5px;
}
#articulo1{
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    width: 60%;
    margin: auto;
}
#articulo2{
    border: 2px solid black;
}
h3{
    margin: 5px;
    text-align: center;
    text-decoration: underline;
    background-color: teal;
}
p{
    margin: 10px;
}
#pie{
    margin:20px;
    border: 2px solid black;
    text-align: center;
}
hr{
    border: 1px dotted black;
    width: 75%;
}